.profilePicture {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#side-nav-wrapper #middle-stream-twits #middle-stream-profile #side-trends {
  max-width: 33%;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline;
}
.icon .menuTitle:hover {
  background-color: lightcyan;
  color: cornflowerblue;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 500;
}
body .wrapper {
  display: flex;
}
body .wrapper #middle-stream-profile, body .wrapper #middle-stream-twits {
  margin-right: 5em;
  margin-left: 5em;
}
body .wrapper #middle-stream-profile {
  display: none;
}
body .wrapper #middle-stream-profile .profile-name {
  margin-bottom: 0;
  font-weight: bold;
}
body .wrapper #middle-stream-profile #profileNearIcon, body .wrapper #middle-stream-profile .personal-description, body .wrapper #middle-stream-profile .personal-description-icon {
  float: left;
  margin-right: 10px;
}
body .wrapper #middle-stream-profile .follow-info-wrapper {
  width: 15em;
}
body .wrapper #middle-stream-profile .follow-info {
  float: left;
  margin-right: 10px;
}
body .wrapper #middle-stream-profile .personal-description-icon {
  padding-top: 1em;
}
body .wrapper #middle-stream-profile .personal-description, body .wrapper #middle-stream-profile .personal-description-icon {
  color: #bbb8b8;
  fill: #bbb8b8;
}
body .wrapper #middle-stream-profile .sub-text {
  margin: 0;
  color: #bbb8b8;
}
body .wrapper #middle-stream-profile .back-icon {
  float: left;
  padding-top: 22px;
}
body .wrapper #middle-stream-profile #coverPhoto {
  width: 40em;
  height: 15em;
  z-index: 1;
}
body .wrapper #middle-stream-profile .profilePicture {
  width: 8em;
  height: 8em;
  margin-top: -10%;
  margin-left: 20px;
}
body .wrapper #middle-stream-profile .edit-profile {
  float: right;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  background-color: white;
}
body .wrapper #side-trends {
  width: 80%;
}
body .wrapper li {
  list-style-type: none;
  height: 50px;
}
body .wrapper .twitterLogo {
  width: 25px;
  height: 25px;
}

.twitterLogo {
  width: 25px;
  height: 25px;
}

body .wrapper .tweet-button {
  text-align: center;
  border-radius: 8px;
  width: 180px;
  background-color: #1da1f2;
  color: white;
  height: 35px;
  box-shadow: none;
  margin-bottom: 10px;
}
body .wrapper .menuTitle {
  display: inline;
  padding-left: 2ex;
}
body .wrapper .profilePicture .author {
  display: inline;
}
body .wrapper .author {
  line-height: 25px;
  padding-left: 8px;
  margin: 0px;
}
body .wrapper #middle-stream {
  padding-left: 30px;
  max-width: 1000px;
}
body .wrapper .twitter-stream-image {
  max-width: 350px;
}
body .wrapper #nameAndProfile {
  display: flex;
}
body .wrapper #middle-stream-twits article {
  padding: 10px;
  display: inline-block;
  width: 55em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 7px;
}
body .wrapper #middle-stream-twits input[type=text] {
  width: 90%;
  padding: 9px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
body .wrapper #middle-stream-twits #addTweet {
  border: 1px solid #bbb8b8;
  width: 40em;
  margin: 20px;
}
body .wrapper #middle-stream-twits .tweet-button {
  margin-left: 70%;
}
body .wrapper #middle-stream-twits #likeTweet, body .wrapper #middle-stream-twits #trash {
  float: right;
  padding: 13px 5px 0 5px;
}
body .wrapper #middle-stream-twits #numOfLikes {
  float: right;
}
body .wrapper #middle-stream-twits #timeOfTweet {
  float: left;
}
body .wrapper #middle-stream-twits .profilePicture {
  padding: 5px 5px;
}
body .wrapper #side-trends #searchBox {
  text-align: center;
  border-radius: 8px;
  width: 180px;
  background-color: #1da1f2;
  color: white;
  height: 35px;
  box-shadow: none;
  margin-bottom: 10px;
  border: 2px solid #1da1f2;
  margin-top: 20px;
  background-color: white;
  color: black;
}
body .wrapper #side-trends li {
  width: 240px;
  height: 60px;
  border: 1px solid gray;
  font-weight: normal;
  font-size: 10px;
}
body .wrapper #side-trends #tweeterNameFound {
  float: right;
  padding-right: 14em;
  font-weight: bold;
}
body .wrapper #side-trends #tweetContentFound {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline;
}
.icon .menuTitle:hover {
  background-color: lightcyan;
  color: cornflowerblue;
}

#side-nav-wrapper #middle-stream-twits #middle-stream-profile #side-trends {
  max-width: 33%;
}

.profilePicture {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/*# sourceMappingURL=style.css.map */
